@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
  background-color: #f5f5f5;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

.hidden {
  display: none;
}
